In [3]:
import os
import pandas as pd

In [4]:
# os.chdir('/Users/magdalena/OneDrive - Queen Mary, University of London/bezzlab/research/projects/phospho_logician/')
os.chdir('/home/mhuebner/Desktop/bezzlab/research/projects/phospho_logician/')

In [5]:
negatome = pd.read_csv('data/external/negatome/negatome.csv')

In [6]:
negatome

      SymbolA  SymbolB
0       TIFAB    TRAF6
1       SAR1A    SMAD1
2       KIF5B    KIFBP
3        CD93     C1QA
4     TSC22D3    FOXO3
...       ...      ...
1356     GNB2  PIP4K2C
1357    MTREX   EXOSC5
1358     PEX3    PEX16
1359    DUSP6   ZNF331
1360     NINL   MAD1L1

[1361 rows x 2 columns]

In [7]:
# export df to csv
negatome.to_csv('data/processed/facts/negatome.csv', index=False)

In [8]:
# write Prolog file
with open('models/facts/lint_approach/negatome.pl', 'w') as file:
    for index, row in negatome.iterrows():
        var1 = "negatome('{}', '{}').".format(row['SymbolA'], row['SymbolB'])
        file.write(var1 + '\n')