In [3]:
import os
import pandas as pd
import math

In [4]:
# os.chdir('/Users/magdalena/OneDrive - Queen Mary, University of London/bezzlab/research/projects/phospho_logician/')
os.chdir('/home/mhuebner/Desktop/bezzlab/research/projects/phospho_logician/')

In [5]:
kinases = pd.read_csv('data/external/kpas/kinases_final.csv')
phosphatases = pd.read_csv('data/external/kpas/phosphatases_final.csv')

In [6]:
enzyme_class = []

# iterate through kinases
for i, k in kinases.iterrows():
    if math.isnan(k['S.T']):
        enzyme_class.append([k['kinase'], 'kinase', 'unknown'])
    elif k['S.T'] == 1 and k['Y'] == 0:
        enzyme_class.append([k['kinase'], 'kinase', 'st'])
    elif k['S.T'] == 0 and k['Y'] == 1:
        enzyme_class.append([k['kinase'], 'kinase', 'y'])
    elif k['S.T'] == 1 and k['Y'] == 1:
        enzyme_class.append([k['kinase'], 'kinase', 'sty'])

# iterate through phosphatases
for i, p in phosphatases.iterrows():
    if math.isnan(p['S.T']):
        enzyme_class.append([p['phosphatase'], 'phosphatase', 'unknown'])
    elif p['S.T'] == 1 and p['Y'] == 0:
        enzyme_class.append([p['phosphatase'], 'phosphatase', 'st'])
    elif p['S.T'] == 0 and p['Y'] == 1:
        enzyme_class.append([p['phosphatase'], 'phosphatase', 'y'])
    elif p['S.T'] == 1 and p['Y'] == 1:
        enzyme_class.append([p['phosphatase'], 'phosphatase', 'sty'])

enzyme_class = pd.DataFrame(enzyme_class, columns=['enzyme', 'class', 'residue'])

In [7]:
enzyme_class

      enzyme        class residue
0       AAK1       kinase      st
1       AATK       kinase      st
2       ABL1       kinase       y
3       ABL2       kinase       y
4      ACVR1       kinase      st
..       ...          ...     ...
653    SSU72  phosphatase      st
654     TNS2  phosphatase       y
655     TPTE  phosphatase       y
656  UBASH3B  phosphatase       y
657   UBLCP1  phosphatase      st

[658 rows x 3 columns]

In [8]:
# export df to csv
enzyme_class.to_csv('data/processed/facts/enzyme_class.csv', index=False)

In [9]:
# write Prolog file
with open('models/facts/enzyme_class.pl', 'w') as file:
    for index, row in enzyme_class.iterrows():
        var1 = "enzyme_class('{}', {}, {}).".format(row['enzyme'], row['class'], row['residue'])
        file.write(var1 + '\n')