In [6]:
import os
import pandas as pd

In [7]:
# os.chdir('/Users/magdalena/OneDrive - Queen Mary, University of London/bezzlab/research/projects/phospho_logician/')
os.chdir('/home/mhuebner/Desktop/bezzlab/research/projects/phospho_logician/')

In [8]:
enz_sub = pd.read_csv('data/external/omnipathr/enz_sub_omnipath.csv')

In [9]:
# extract enzyme -> target protein relationships (PPIs)
enz_tprot = enz_sub[['kpa', 'tprot']].drop_duplicates()

In [10]:
enz_tprot

         kpa   tprot
0       AAK1   AP1M1
1       AAK1   AP2M1
3       AAK1    NUMB
4       ABL1    ABI1
5       ABL1    ABL1
...      ...     ...
20498  ZAP70    MUC1
20499  ZAP70   SH2B3
20500  ZAP70    SHC1
20507  ZAP70  THEMIS
20509  ZAP70   ZAP70

[9667 rows x 2 columns]

In [11]:
# export df to csv
enz_sub.to_csv('data/processed/facts/enz_sub_omnipath.csv', index=False)
enz_tprot.to_csv('data/processed/facts/enz_tprot_omnipath.csv', index=False)

In [12]:
# write Prolog file
with open('models/facts/enz_sub_omnipath.pl', 'w') as file:
    for index, row in enz_sub.iterrows():
        var1 = "enz_sub('{}', '{}', '{}').".format(row['kpa'], row['pst'], row['tprot'])
        file.write(var1 + '\n')

with open('models/facts/enz_tprot_omnipath.pl', 'w') as file:
    for index, row in enz_tprot.iterrows():
        var1 = "enz_tprot('{}', '{}').".format(row['kpa'], row['tprot'])
        file.write(var1 + '\n')