In [3]:
import os
import pandas as pd

In [4]:
# os.chdir('/Users/magdalena/OneDrive - Queen Mary, University of London/bezzlab/research/projects/phospho_logician/')
os.chdir('/home/mhuebner/Desktop/bezzlab/research/projects/phospho_logician/')

In [5]:
kinases = pd.read_csv('data/external/kpas/kinases_final.csv')

In [6]:
kinases

    kinase  S.T    Y
0     AAK1  1.0  0.0
1     AATK  1.0  0.0
2     ABL1  0.0  1.0
3     ABL2  0.0  1.0
4    ACVR1  1.0  0.0
..     ...  ...  ...
526   WNK2  1.0  0.0
527   WNK3  1.0  0.0
528   WNK4  1.0  0.0
529   YES1  0.0  1.0
530  ZAP70  0.0  1.0

[531 rows x 3 columns]

In [7]:
# export df to csv
kinases.to_csv('data/processed/facts/kinase.csv', index=False)

In [8]:
# write Prolog file
with open('models/facts/kinase.pl', 'w') as file:
    for index, row in kinases.iterrows():
        var1 = "kinase('{}').".format(row['kinase'])
        file.write(var1 + '\n')