In [1]:
import os
import pandas as pd
import sqlite3

In [2]:
# os.chdir('/Users/magdalena/OneDrive - Queen Mary, University of London/bezzlab/research/projects/phospho_logician/')
os.chdir('/home/mhuebner/Desktop/bezzlab/research/projects/phospho_logician/')

In [3]:
conn = sqlite3.connect('data/external/chemphopro.db')

In [4]:
# data frame with "where...." adding SQL Query parameters
pk_rel = pd.read_sql_query('SELECT * FROM pk_relationship ;', conn)
pk_rel = pk_rel[pk_rel['score'] <= 0.5]

pk_rel = pk_rel.pivot(index=['kinase', 'perturbagen'], columns='source', values='score')
pk_rel = pk_rel.reset_index()

In [5]:
pk_rel

source kinase perturbagen  discoverx    kuster  vendor
0        AAK1     AZD5438   0.458647  0.003569     NaN
1        AAK1     GDC0994        NaN  0.006291     NaN
2        AAK1      Go6976   0.470000       NaN     NaN
3        AAK1   LY2090314   0.330000       NaN     NaN
4        AAK1   LY2835219   0.130000  0.001585     NaN
..        ...         ...        ...       ...     ...
623      ULK1      CX4945        NaN  0.057562     NaN
624      ULK1  Dabrafenib        NaN  0.002943     NaN
625      ULK1   PF3758309   0.370000       NaN     NaN
626      YES1   Dasatinib        NaN  0.000043     NaN
627      YES1   PF3758309        NaN  0.087347     NaN

[628 rows x 5 columns]

In [6]:
# export df to csv
pk_rel.to_csv('data/processed/facts/pert_kin_rel.csv', index=False)

In [7]:
# write Prolog file
with open('models/facts/pert_kin_rel.pl', 'w') as file:
    for index, row in pk_rel.iterrows():
        var1 = "pert_kin('{}', '{}').".format(row['perturbagen'], row['kinase'])
        file.write(var1 + '\n')